*{
  margin: 0;
  font-family: 'inter';
  font-weight: 800;
}

#logo{
  margin: 50px 0 0 50px;
}

#titulo_MenuSuperior{
  margin: 50px 0 0 150px;
}

#texto_MenuSuperior{
  margin: 35px 0 0 150px;
  padding-bottom:100px ;
}

#menuSuperior{
  background-image: url(./images/fundoMenuSuperior.svg);
  color: white;
}

#menuInformacional{
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.icone{
  margin: 50px 0 50px 100px;
  padding: 25px;
}

#secaoVideo{
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.textoInformativo{
  display: flex;
  align-items: center;
}

#tituloVideo{
  color: #247ba0;
  margin-top: 50px;
  font-weight: bolder;
}

#video{
  margin: 50px 25px 50px 100px;
}

#carrossel{
  background-color: #247ba0;
  padding: 50px;
}

#titulo-carrossel{
  color: #fff;
  text-align: center;
  font-size: 25px;
}

#div-cards{
  display: grid;
  grid-auto-flow: column;
}

.card{
  margin-left: 50px;
}

#seta_esquerda{
  display: none;
}

#bruna{
  display: none;
}

.seta{
  margin-top: 25%;
  cursor: pointer;
}

.seta:hover{
  transform: translateY(-7px);
  transition-duration:0.5s ;
}

#formulario{
  text-align: center;

}

#titulo_formulario{
  font-size: 25px;
  margin: 25px;
  color: #383838;
}

input{
  width: 300px;
  height: 40px;
  background-color: #eaece5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}

button{
  background-color: #247ba0;
  height: 40px;
  width: 250px;
  color: #eaece5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover{
  background-color: #318fb8;
  color: #fff;
  box-shadow: 0px 15px 20px #05103081;
  transform: translateY(-7px);
  transition:ease-in-out 0.5s;
}